body {
    background-image: url(fundodomar.jpg);   
}
header {
    background-color: rgb(57, 168, 196);
    color: rgb(245, 245, 245);
    padding: 10px;
}

nav {
    border: 1px solid red;
    background-color: rgb(196, 227, 255);
}

.menu {
    display: inline;
    padding: 5px;
}
