
ol {
    background-color: yellow;
}
ol li:nth-child(even) {
    background-color: rgb(136, 211, 136);
}
ol li:nth-child(odd) {
    text-transform: uppercase;
}
h1 {
    font-size: 40px;
    border: 2px solid rgb(161, 42, 42);
    color: red;
}
h3 {
    color: red 
}
